<div class="row">
  <div class="col-md-8">
    <div class="p-3 mb-2 bg-light text-dark">
      <h2>コメント詳細</h2>
    </div>
        <p class="col-xs-5">コメント投稿日時：</p>
      <div class="w-75 py-4">
        <%= @comment.created_at.strftime('%Y/%m/%d %H:%M:%S') if @comment.created_at %>
      </div>
        </br>
        
            <p class="col-xs-5">コメント内容：</p>
      <div class="w-75 py-4">
        <%= @comment.comment %>
      </div>
    
      </br>

      <tr>
        <td>名前：</td>
         </tr>
         <tr>
          <td><%= @customer.name %></td>
        
      </tr>
        </br>
        
        <td>
          <%= link_to "コメント削除", admin_comment_path(@comment),method: :delete, class:"btn btn-danger" %>
        </td>
      </table>
  </div>
</div>
