<div class="row">
   <div class="col-md-8">
      <div class="p-3 mb-2 bg-light text-dark">
         <h2>コメント詳細</h2>
      </div>
      <p class="col-xs-5">コメント投稿日時：</p>
      <div class="w-75 py-3">
         <%= @comment.created_at.strftime('%Y/%m/%d %H:%M:%S') if @comment.created_at %>
      </div>
      <p class="col-auto">コメント内容：</p>
      <div class="w-75 py-3">
         <%= @comment.comment %>
      </div>
      <p class="col-xs-5">名前：</p>
      <div class="w-75 py-3">
         <%= @customer.name %>
      </div>
      </br>
      <div style="text-align:center">
         <div class="row actions">
            <div class="w-75 py-3">
               <%= link_to "コメント削除", admin_comment_path(@comment),method: :delete, class:"btn btn-danger" %>
            </div>
         </div>
      </div>
   </div>
</div>