<!--<div class="mx-auto" style="width:450px">-->
	<!--<div class="container">-->
		<th><%= current_customer.name %>さんのマイページ</th></br>
		<div class="container">
			<p class="text-left">
				<div class="container-left">
					<table class="table col table-bordered">
						<div class="table-secondary">
							<tr>
								<td class="bg-light">名前</td>
								<td><%= current_customer.name %></td>
							</tr>
							<tr>
								<td class="bg-light">メールアドレス</td>
								<td><%= current_customer.email %></td>
							</tr>
						</div>
					</table>
				</div>
			     　　　　　　　　     　　　<%= link_to "編集する", edit_customer_path(current_customer) ,class: "btn btn-success" %>
			</p>
		</div>
	<!--</div>-->
<!--</div>-->
