<div class="mx-auto" style="width:450px">
			 
			 	<p><%= current_customer.name %>さんの詳細ページ</p>
			 
			 <div class="container">
			 		<div class="container-left">
			 				<table class="table col table-bordered">
			 					<div class="table-secondary">
			 						<tr>
			 							<td class="bg-light">名前</td>
			 							<td><%= current_customer.name %></td></tr>
			 							<tr>
			 								<td class="bg-light">メールアドレス</td>
			 								<td><%= current_customer.email %></td></tr>
			 					</div>
			 				</table>
			 		</div>
			 	</br>
			 	　　　　　　　　　　　　　　　　<%= link_to "編集する", edit_customer_path(current_customer) ,class: "btn btn-success" %>
			 </div>
</div>
 
 
 
