<h1 class="users-heading">ユーザー一覧!</h1>
<div class="container">
<!--<p class="p-0 mb-0 bg-light text-dark">会員一覧</p>-->
<div class="row">
	<table class='table table-hover table-inverse'>
		<thead>
				<tr>
					<th class="bg-light">会員ID</th>
					<th class="bg-light">名前</th>
					<th class="bg-light">メールアドレス</th>
				</tr>
			</thead>
			<tbody class="col-md-6">
				<% @customers.each do |customer| %>
				<tr>
					<td><%= customer.id %></td>
					<%#= link_to(customer.name, "/customers/#{customer.id}") %>
					<td><%= link_to customer.name, admin_customer_path(customer.id)%></td>
					<td><%= customer.email %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<!--<div class="mx-auto" style="width: 95px">-->
	<%#= paginate @customers %>
<!--</div>-->
