


<h1>Tags#index</h1>
<p>Find me in app/views/tags/index.html.erb</p>

<h2>Actions --></h2>
<%= link_to 'Top', root_path %>

<h2>Tags --></h2>
<ul>
  <%# @tags.each do |tag| %>
    <li>
      <%# タグの名前と、関連付く記事数を表示 %>
      <%#= link_to "#{tag.name} ( Posts: #{tag.posts.count} )", tag_path(tag) %>
    </li>
  <%# end %>
</ul>