<div class="row">
  <div class="col-md-3">
    <div class="d-flex justify-content-end">
      <%= form_with url: tag_search_path, method: :get, local: true, class: "boards__searchForm" do |f| %>
      <div class="input-group">
        <%= f.text_field :hashtags, value: @hashtags, class: "form-control search-control", placeholder: "タグを入力" %>
        <span class="input-group-btn input-group-append">
          <%= button_tag name: "", class: "btn btn-secondary" do %>
          <i class="fas fa-search"></i>検索
          <% end %>
        </span>
      </div>
    </div>
  </div>
</div>
  <% end %>