    <div class="row">
      <div class="col-md-3">
        <div class="d-flex justify-content-end">
          <%= form_with url: posts_path, method: :get, local: true, class: 'boards__searchForm' do |f|%>
          <div class="input-group">
            <%= f.text_field :keyword, value: @keyword, class: "form-control search-control", placeholder: "キーワードを入力" %>
            <span class="input-group-btn input-group-append">
              <%= button_tag name: "", class: "btn btn-secondary" do %>
              <i class="fas fa-search"></i>検索
              <% end %>
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>