<!--<h1>User search</h1>-->
<!--<%#= form_with url: search_users_path, method: :get, local: true do |f| %>-->
<!--  <%#= f.text_field :name %>-->
<!--  <%#= f.submit :search %>-->
<!--<%# end %>-->
<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Name</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    <%# @posts.each do |user| %>-->
<!--      <tr>-->
<!--        <td><%#= post.name %></td>-->
<!--      </tr>-->
<!--    <%# end %>-->
<!--  </tbody>-->
<!--</table>-->



<!--= form_with(url: items_searches_path, local: true, method: :get) do |f|-->
<!--  %input.search__input{name: "keyword", placeholder: 'キーワードから探す'}-->
<!--  %button{type: 'submit'}-->
<!--    .icon-->
<!--      = image_tag 'icon/icon-search 1.png', class: 'icon-image'-->